<h1>あなたの滑りをレベルアップ</h1>
<p>スノメンはスノーボードのアドバイスを共有するアプリです。スノーボードについてのアドバイスをもらったり、アドバイスをしたりすることができます。また、滑り方や自分の滑りを記事にして投稿することもできます。</p>


<div class="d-flex mb-3">
    <%= image_tag 'landding-1.jpg', alt: 'イメージ写真1', class: 'landding-image my-auto' %>
    <div class="ml-2">
        <h2 class="h2-small">自分の滑りに限界を感じていませんか？</h2>
        <p>
            「スノーボードをずっとやってきたけど、最近上達していない。」<br>
            「自分でスノーボードの練習をしているけど、もっと早く上達したい！」<br>
            このようなことを思ったことはありませんか？
            レベルの高い人からアドバイスを貰うことで誰でも更にスノーボードを上達させることができます。
            スノメンで自分の滑りを投稿してアドバイスを貰いましょう！
        </p>
    </div>
</div>

<div class="d-flex mb-3">
    <div class="ml-2">
        <h2 class="h2-small">上手なユーザをフォローしよう</h2>
        <p>
            スノメンでは、ユーザが滑り方のコツなどを記事にして投稿することができます。
            役に立つ記事やアドバイスをくれるユーザをフォローして、投稿を見逃さないようにしましょう。
        </p>
    </div>
    <%= image_tag 'landding-2.jpg', alt: 'イメージ写真2', class: 'landding-image my-auto' %>
</div>

<div class="d-flex mb-3">
    <%= image_tag 'landding-3.jpg', alt: 'イメージ写真3', class: 'landding-image my-auto' %>
    <div class="ml-2">
        <h2 class="h2-small">記事を投稿しよう</h2>
        <p>
            あなたの知っている滑り方のコツを記事にしてみんなに共有しましょう。
            あなたの記事が、多くの人の滑りをレベルアップさせます。
            また、コツだけでなく、自分の滑りを記事にして投稿することもできます。
            たくさん記事を投稿して有名人になれば、ゲレンデで声をかけられるかも！？
        </p>
    </div>
</div>

<h2>スノメンの機能一覧</h2>
<ul>
    <li>質問投稿作成</li>
    <li>記事投稿作成</li>
    <li>投稿へのコメント機能</li>
    <li>記事/コメントへの画像添付機能</li>
    <li>投稿へのいいね機能</li>
    <li>フォロー機能</li>
</ul>

<%= link_to "新規登録", signup_path, class: "mb-40px btn btn-lg btn-primary btn-block" %>

<h2>まずはどんなアプリか使ってみたい方へ</h2>
<p>
    ゲストユーザでログインすることで、投稿機能やコメント機能を試しに使用することができます。
</p>

<%= link_to 'ゲストユーザとしてログイン', '/guestlogin', method: :post, class: "mb-40px btn btn-lg btn-primary btn-block" %>
