<li id="comment-<%= comment.id %>" class="p-3 ls-none border-bottom">
    <div class="d-flex">
        <%= icon_image comment.user, add_class: "icon-small" %>
        <span class="font-ms my-auto ml-2 v-align-middle">
            <%= link_to comment.user.name, comment.user, class:"link" %>がコメント
        </span>
        <% if current_user?(comment.user) %>
        <%= link_to "delete", comment, method: :delete,
                                        data: { confirm: "コメントを削除しますか？" },
                                        class: "material-icons icon-action ml-auto" %>
        <% end %>
    </div>
    <p class="mt-2 mb-0"><%= comment.content %></p>
    <% if comment.image.attached? %>
    <div class="text-center"><%= image_tag comment.display_image %></div>
    <% end %>
</li>
