<% provide(:title, "新規登録") %>
<h2 class="h2 mb-3">新規登録</h2>

<div class="form-group">
    <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :name, "ユーザーネーム" %>
    <%= f.text_field :name, class: "form-control mb-3", placeholder: "例: すのめん" %>

    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: "form-control mb-3", placeholder: "例: user@example.com" %>

    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: "form-control mb-3", placeholder: "Password" %>

    <%= f.label :password_confirmation, "パスワード再入力" %>
    <%= f.password_field :password_confirmation, class: "form-control mb-3", placeholder: "Password" %>

    <%= f.submit "アカウント作成", class: "btn btn-primary" %>
    <% end %>
</div>
