<h2 class="h2 mb-3"><%= yield(:title) %></h2>

<%= form_with(model: @user, local: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
    <%= f.label :name, "ユーザーネーム" %>
    <%= f.text_field :name, class: "form-control", placeholder: "例: すのめん" %>
</div>
<div class="form-group">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: "form-control", placeholder: "例: user@example.com", disabled: email_disable %>
</div>
<div class="form-group">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
</div>
<div class="form-group">
    <%= f.label :password_confirmation, "パスワード再入力" %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password" %>
</div>

<% if icon_edit %>
<h2 class="form-text font-medium">プロフィールアイコン</h2>
<div class="d-flex mb-3">π¨
    <%= icon_image @user, add_class: 'icon-medium mx-3 align-self-center' %>
    <div class="form-group m-0">
        <%= f.label :image, "写真を直接アップロード", class: "font-ms" %>
        <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "form-control-file" %>
    </div>
    <div class="mx-2 align-self-center">or</div>
    <div class="gravatar_edit">
        <h3 class='form-text font-ms'>Gravatorで設定する</h3>
        <a href="https://gravatar.com/emails" target="_blank" rel="noopener">
            Gravatorへ移動
        </a>
    </div>
</div>
<% end %>

<%= f.submit submit_button, class: "btn btn-primary btn-block" %>

<% end %>
