<% provide(:title, @title) %>
<div class="p-0 mb-3 d-flex">

    <div class="col-3">
        <%= icon_image @user, add_class: "icon-big" %>
    </div>
    <div class="ml-3 col-9">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h1 class="m-0">
                <%= @user.name %>
            </h1>
            <%= render 'follow_form' if logged_in? %>
        </div>
        <%= render 'shared/stats' %>
    </div>
</div>

<div class="">
    <h3><%= @title %></h3>
    <% if @users.any? %>
    <ul class="users follow">
        <%= render @users %>
    </ul>
    <%= will_paginate %>
    <% end %>
</div>
