<% provide(:title, @user.name) %>
<div class="p-0">

    <%= gravatar_for @user, add_class: "icon-big" %>
    <div class="ml-3">
        <h1>
            <%= @user.name %>
        </h1>
    </div>
    <div class="">
        <% if @user.posts.any? %>
        <h3>投稿 (<%= @user.posts.count %>)</h3>
        <ol class="p-0">
            <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
        <% end %>
    </div>
</div>
