<!DOCTYPE html>
<html>

<head>
    <title><%= yield(:title) %> | Snowboard App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <aside>
        <nav>
            <ul>
                <li>ホーム</li>
                <li>通知</li>
                <li>投稿</li>
                <li>ブックマーク</li>
                <li>メッセージ</li>
            </ul>
        </nav>
        <div class="sidefooter">
            Side footer
        </div>
    </aside>
    <main>
        <%= yield %>
    </main>
    <footer>
        Footer
    </footer>
</body>

</html>
