<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title) %> | Snowboard App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="m-0 d-flex flex-column min-vh-100">
    <%= render 'layouts/header'%>
    <aside class="bg-lightdark d-sm-flex flex-sm-column">
        <%= render 'layouts/nav'%>
        <div class="d-none d-sm-block mt-5 h-10">
            Side footer
        </div>
    </aside>
    <main class="w-100 flex-1 mt-header-height">
        <div class="pl-sm-side-menu-width">
            <%= yield %>
        </div>
    </main>
    <footer class="d-sm-none">
        Footer
    </footer>
</body>

</html>
