<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title) %> | Snowboard App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <%= render 'layouts/header'%>
    <aside>
        <%= render 'layouts/nav'%>
        <div class="side-footer">
            Side footer
        </div>
    </aside>
    <main>
        <%= yield %>
    </main>
    <footer>
        Footer
    </footer>
</body>

</html>
