<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title) %> | Snowboard App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 mb-bottom-nav-height mb-sm-0">
    <%= render 'layouts/header'%>
    <aside class="aside-fixed bg-lightdark d-sm-flex flex-sm-column">
        <%= render 'layouts/nav'%>
        <div class="d-none d-sm-block mt-5 h-10">
            Side footer
        </div>
    </aside>
    <main class="mw-600px p-3 flex-1 ml-sm-side-menu-width mt-header-height">
        <div class="">
            <%= yield %>
        </div>
    </main>
    <footer class="p-3 d-sm-none">
        Footer
    </footer>
    <div class="ml-sm-side-menu-width p-3">
        <%= debug(params) if Rails.env.development? %>
    </div>

</body>

</html>
