<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="d-flex flex-column mb-md-0">
    <%= render 'layouts/header'%>
    <aside class="bg-lightdark d-md-flex flex-md-column">
        <%= render 'layouts/nav'%>
        <div class="d-none d-md-block mt-auto">
            <%= render 'layouts/footer'%>
        </div>
    </aside>
    <main class="p-2 flex-1">
        <div class="">
            <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <%= yield %>
        </div>
    </main>
    <div class="p-3">
        <%= debug(params) if Rails.env.development? %>
    </div>
    <footer class="p-3 d-md-none mt-auto">
        <%= render 'layouts/footer'%>
    </footer>

</body>

</html>
